* {
  font-family: "Quicksand", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.top-bar {
  text-align: center;
  background-color: #abcc89;
}

.top-bar p {
  color: white;
  font-size: 12px;
  padding: 4px 0;
}

.container {
  max-width: 1600px;
  min-width: 1200px;
  padding: 0 85px;
}

.header-upper-middle {
  padding: 15px 0;
}

.header-upper-content img {
  height: 70px;
}

.header-upper-content .bi {
  width: 32px;
  height: 40px;
  font-size: 20px;
}

nav > a {
  color: black;
}

.logo {
  margin-left: auto;
  display: block;
  margin-right: auto;
}

main {
  padding-top: 250px;
}

.scrolled {
  background-color: white;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.title {
  margin-top: 1rem;
}

.product-img {
  height: 30rem;
}

.fade {
  opacity: 0;
}